# Table of Contents
## General importation
## Removing PII data
## Crossing the variables
## Creating the exclusion flag
## Creating customer profiles

In [1]:
#as always, we start with library and data importation
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\Admin\Documents\Dec 22 Instacart Analysis'

In [3]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_custs.pkl'))

In [4]:
pd.options.display.max_columns = None

In [8]:
#I like to have a visual on hand to refer back to what columns we have, and it's good to double check everything looks right
df.head(10)

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependents,marital_status,annual_income,Unnamed: 0_x,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,order_cost,avg_spent_per_item,spender_type,order_frequency,frequency_flag
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,5,1,9,30.0,196,2,0,195,Soda,77,7,9,Mid-range product,Busiest days,Average orders,8,New customer,17,7.666667,Low spender,19.0,Regular customer
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,7,5,15,11.0,196,1,1,195,Soda,77,7,9,Mid-range product,Regularly busy,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,8,1,15,10.0,196,2,1,195,Soda,77,7,9,Mid-range product,Busiest days,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,2,2,9,14.0,38928,1,0,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Regularly busy,Average orders,8,New customer,12,7.666667,Low spender,19.0,Regular customer
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,3,3,11,30.0,38928,1,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Least busy days,Most orders,8,New customer,23,7.666667,Low spender,19.0,Regular customer
5,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443894,2984525,4,1,17,19.0,38928,1,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Busiest days,Average orders,8,New customer,16,7.666667,Low spender,19.0,Regular customer
6,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443896,2505178,6,1,8,21.0,38928,2,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Busiest days,Average orders,8,New customer,16,7.666667,Low spender,19.0,Regular customer
7,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,7,5,15,11.0,38928,3,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Regularly busy,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer
8,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,8,1,15,10.0,38928,1,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Busiest days,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer
9,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,443891,518967,1,2,9,NaN,6184,1,0,6184,Clementines,32,4,4,Low-range product,Regularly busy,Average orders,8,New customer,4,7.666667,Low spender,19.0,Regular customer

Regarding data security, the first and last name columns would fall under PII data. I'm going to remove it for a couple reasons, although in a real life scenario we'd probably be given explicit instructions about what to do. First, removing it makes our dataframe smaller, and therefore a bit easier to work with. Second, we already have a user_id column, and that does the job of marking distinct users in much the same way their name would. Third, glancing over the assignment, we're not looking at individual customers so there's not really a need for this information to be there.

## removing the PII data

In [5]:
df = df.drop(columns = ['first_name', 'last_name'])

## creating our Region column

In [10]:
#I'm thinking a for loop would be best here because we only want it to cycle through one column
#first, we want to know what values we're working with

df['state'].value_counts()

Pennsylvania            667082
California              659783
Rhode Island            656913
Georgia                 656389
New Mexico              654494
Arizona                 653964
North Carolina          651900
Oklahoma                651739
Alaska                  648495
Minnesota               647825
Massachusetts           646358
Wyoming                 644255
Virginia                641421
Missouri                640732
Texas                   640394
Colorado                639280
Maine                   638583
North Dakota            638491
Alabama                 638003
Kansas                  637538
Louisiana               637482
Delaware                637024
South Carolina          636754
Oregon                  636425
Arkansas                636144
Nevada                  636139
New York                635983
Montana                 635265
South Dakota            633772
Illinois                633024
Hawaii                  632901
Washington              632852
Mississippi             632675
Kentucky                632490
Michigan                630928
Florida                 629027
Ohio                    628319
Wisconsin               628108
New Jersey              627692
Indiana                 627282
Maryland                626579
Nebraska                625813
Iowa                    625493
Connecticut             623022
Tennessee               617873
New Hampshire           615378
District of Columbia    613695
West Virginia           612296
Utah                    611941
Vermont                 611725
Idaho                   607119
Name: state, dtype: int64

In [6]:
#making the loop
region = []

for value in df['state']:
    if value == 'Maine' or value == 'New Hampshire' or value == 'Vermont' or value == 'Massachusetts' or value == 'Connecticut' or value == 'New York' or value == 'Pennsylvania' or value == 'New Jersey':
        region.append('Northeast')
    elif value == 'Wisconsin' or value == 'Michigan' or value == 'Indiana' or value == 'Illinois' or value == 'Ohio' or value == 'North Dakota' or value == 'South Dakota' or value == 'Kansas' or value == 'Nebraska' or value == 'Minnesota' or value == 'Iowa' or value == 'Missouri':
        region.append('Midwest')
    elif value == 'Delaware' or value == 'Maryland' or value == 'District of Columbia' or value == 'Virginia' or value == 'West Virginia' or value == 'North Carolina' or value == 'South Carolina' or value == 'Georgia' or value == 'Florida' or value == 'Kentucky' or value == 'Tennessee' or value == 'Mississippi' or value == 'Alabama' or value == 'Oklahoma' or value == 'Texas' or value == 'Arkansas' or value == 'Louisiana':
        region.append('South')
    else:
        region.append('West')

In [7]:
#adding our new column
df['region'] = region

In [13]:
#double checking
print(df[['state', 'region']].head(15))

       state   region
0   Missouri  Midwest
1   Missouri  Midwest
2   Missouri  Midwest
3   Missouri  Midwest
4   Missouri  Midwest
5   Missouri  Midwest
6   Missouri  Midwest
7   Missouri  Midwest
8   Missouri  Midwest
9   Missouri  Midwest
10  Missouri  Midwest
11  Missouri  Midwest
12  Missouri  Midwest
13  Missouri  Midwest
14  Missouri  Midwest

well at the very least, missouri is in the right place. looks like it worked though!

## crossing the variables

In [14]:
crosstab = pd.crosstab(df['region'], df['spender_type'], dropna = False)

In [15]:
crosstab.to_clipboard()

I copied this crosstab into Excel so I'll describe it here. In all regions, the number of low spenders is significantly higher than the number of high spenders, like 55x higher. The northeast has the fewest customers by a significant amount (only a little more than half the number of the next lowest), while the south has the most (although the gap there is not as large). Instacart should probably focus on getting more customers in the northeast, while a campaign to turn low spenders into high spenders would be a nationwide effort.

## exclusion flag for low spenders

In [8]:
#let's do another for loop, they're fun to write and we're again only focused on one column
flag = []

for x in df['max_order']:
  if x < 5:
    flag.append('Inactive')
  else:
    flag.append('Active')

In [9]:
df['active_flag'] = flag

In [18]:
print(df[['max_order', 'active_flag']].head(10))

   max_order active_flag
0          8      Active
1          8      Active
2          8      Active
3          8      Active
4          8      Active
5          8      Active
6          8      Active
7          8      Active
8          8      Active
9          8      Active

In [10]:
#now we make our subset that only contains the active users
df2 =  df[df['active_flag']=='Active']

In [11]:
df2.shape

(30964564, 34)

In [20]:
df2.head(25)

,user_id,gender,state,age,date_joined,n_dependents,marital_status,annual_income,Unnamed: 0_x,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,order_cost,avg_spent_per_item,spender_type,order_frequency,frequency_flag,region,active_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,5,1,9,30.0,196,2,0,195,Soda,77,7,9,Mid-range product,Busiest days,Average orders,8,New customer,17,7.666667,Low spender,19.0,Regular customer,Midwest,Active
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,7,5,15,11.0,196,1,1,195,Soda,77,7,9,Mid-range product,Regularly busy,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer,Midwest,Active
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,8,1,15,10.0,196,2,1,195,Soda,77,7,9,Mid-range product,Busiest days,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer,Midwest,Active
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,443892,423547,2,2,9,14.0,38928,1,0,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Regularly busy,Average orders,8,New customer,12,7.666667,Low spender,19.0,Regular customer,Midwest,Active
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,3,3,11,30.0,38928,1,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Least busy days,Most orders,8,New customer,23,7.666667,Low spender,19.0,Regular customer,Midwest,Active
5,26711,Female,Missouri,48,1/1/2017,3,married,165665,443894,2984525,4,1,17,19.0,38928,1,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Busiest days,Average orders,8,New customer,16,7.666667,Low spender,19.0,Regular customer,Midwest,Active
6,26711,Female,Missouri,48,1/1/2017,3,married,165665,443896,2505178,6,1,8,21.0,38928,2,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Busiest days,Average orders,8,New customer,16,7.666667,Low spender,19.0,Regular customer,Midwest,Active
7,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,7,5,15,11.0,38928,3,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Regularly busy,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer,Midwest,Active
8,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,8,1,15,10.0,38928,1,1,38932,0% Greek Strained Yogurt,120,16,12,Mid-range product,Busiest days,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer,Midwest,Active
9,26711,Female,Missouri,48,1/1/2017,3,married,165665,443891,518967,1,2,9,NaN,6184,1,0,6184,Clementines,32,4,4,Low-range product,Regularly busy,Average orders,8,New customer,4,7.666667,Low spender,19.0,Regular customer,Midwest,Active
10,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,3,3,11,30.0,6184,2,1,6184,Clementines,32,4,4,Low-range product,Least busy days,Most orders,8,New customer,23,7.666667,Low spender,19.0,Regular customer,Midwest,Active
11,26711,Female,Missouri,48,1/1/2017,3,married,165665,443894,2984525,4,1,17,19.0,6184,2,1,6184,Clementines,32,4,4,Low-range product,Busiest days,Average orders,8,New customer,16,7.666667,Low spender,19.0,Regular customer,Midwest,Active
12,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,5,1,9,30.0,6184,1,1,6184,Clementines,32,4,4,Low-range product,Busiest days,Average orders,8,New customer,17,7.666667,Low spender,19.0,Regular customer,Midwest,Active
13,26711,Female,Missouri,48,1/1/2017,3,married,165665,443896,2505178,6,1,8,21.0,6184,1,1,6184,Clementines,32,4,4,Low-range product,Busiest days,Average orders,8,New customer,16,7.666667,Low spender,19.0,Regular customer,Midwest,Active
14,26711,Female,Missouri,48,1/1/2017,3,married,165665,443897,1285508,7,5,15,11.0,6184,2,1,6184,Clementines,32,4,4,Low-range product,Regularly busy,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer,Midwest,Active
15,26711,Female,Missouri,48,1/1/2017,3,married,165665,443898,2578584,8,1,15,10.0,6184,3,1,6184,Clementines,32,4,4,Low-range product,Busiest days,Most orders,8,New customer,25,7.666667,Low spender,19.0,Regular customer,Midwest,Active
16,26711,Female,Missouri,48,1/1/2017,3,married,165665,443893,2524893,3,3,11,30.0,47402,3,0,47406,Fuji Apples,24,4,7,NaN,Least busy days,Most orders,8,New customer,23,7.666667,Low spender,19.0,Regular customer,Midwest,Active
17,26711,Female,Missouri,48,1/1/2017,3,married,165665,443895,2543867,5,1,9,30.0,8617,3,0,8617,Assorted Nuggets,45,19,4,Low-range product,Busiest days,Average orders,8,New customer,17,7.666667,Low spender,19.0,Regular customer,Midwest,Active
18,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562335,1044841,3,6,11,30.0,196,1,0,195,Soda,77,7,9,Mid-range product,Regularly busy,Most orders,12,Regular customer,34,6.547945,Low spender,26.0,Non frequent customer,West,Active
19,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562336,474720,4,1,20,16.0,196,6,1,195,Soda,77,7,9,Mid-range product,Busiest days,Average orders,12,Regular customer,46,6.547945,Low spender,26.0,Non frequent customer,West,Active
20,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562337,896617,5,6,22,26.0,196,1,1,195,Soda,77,7,9,Mid-range product,Regularly busy,Average orders,12,Regular customer,67,6.547945,Low spender,26.0,Non frequent customer,West,Active
21,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562334,122641,2,6,16,30.0,13176,5,0,13176,Bag of Organic Bananas,24,4,10,Mid-range product,Regularly busy,Average orders,12,Regular customer,66,6.547945,Low spender,26.0,Non frequent customer,West,Active
22,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562335,1044841,3,6,11,30.0,13176,4,1,13176,Bag of Organic Bananas,24,4,10,Mid-range product,Regularly busy,Most orders,12,Regular customer,34,6.547945,Low spender,26.0,Non frequent customer,West,Active
23,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562337,896617,5,6,22,26.0,13176,5,1,13176,Bag of Organic Bananas,24,4,10,Mid-range product,Regularly busy,Average orders,12,Regular customer,67,6.547945,Low spender,26.0,Non frequent customer,West,Active
24,33890,Female,New Mexico,36,1/1/2017,0,single,59285,562344,2043158,12,6,18,13.0,44683,5,0,44687,Brussels Sprouts,83,4,11,NaN,Regularly busy,Average orders,12,Regular customer,70,6.547945,Low spender,26.0,Non frequent customer,West,Active

so far so good!

In [21]:
#now we just gotta export this
df2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_active_custs.pkl'))

## making customer profiles

I think it's going to take some further exploration of the data to really get a handle on different profiles. I'm going to start with age, # of dependents, and income only, then we'll see how the rest break down. I tried to think of groups who were most likely to be using Instacart, as it's an obvious choice for a wealthy family juggling 6 kids but might not appeal as much to an older, blue-collar or traditional style couple.

In [30]:
#we're going to make our own function here, since we need to go through the whole data but also an 'other' column for customers who don't fit these profiles
def profile(row):

  if row['age'] >= 18 & row['age'] < 55 & row['income'] <= 50000 & row['n_dependents'] >= 1:
    return 'Low income family'
#if both parents have to work to support their family, they likely want the convenience of a delivery app
  elif row['age'] >= 18 & row['age'] < 55 & row['income'] >= 100000 & row['n_dependents'] >= 1:
    return 'Wealthy family'
#a wealthy family can afford to use this kind of service, so why wouldn't they?
  elif row['age'] >= 27 & row['age'] < 42 & row['annual_income'] < 50000 & row['n_dependents'] < 1:
    return 'Struggling millenial'
#millenials as a generation seem to love this kind of thing
  elif row['age'] >= 30 & row['age'] < 60 & row['annual_income'] > 75000 & row['n_dependents'] < 1:
    return 'Successful GenXer/empty nester'
#If they're busy with their careers and don't have to think too hard about meal planning for kids, etc. this is very convenient
  elif row['age'] >= 60 & row['n_dependents'] < 1:
    return 'Senior citizen'
#it's way more of an endeavor for an elderly person to go to the supermarket, so this is a good choice for them
  else: return 'Other'
#not everyone will fit into a distinct category like this obviously, I just tried to picture the most likely groups to use Instacart

(question: this function does not work if I set the n_dependents equal to 0, but does work if I set it to 'less than 1'. Why is this?)

In [32]:
#now we make the new column that applies this function
df2['customer_profile'] = df2.apply(profile, axis=1)

MemoryError: Unable to allocate 7.84 GiB for an array with shape (34, 30964564) and data type object

maybe it's time for a new notebook!