In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Admin\Documents\Dec 22 Instacart Analysis'

In [3]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

In [4]:
df = df_ords_prods_merged[:1000000]

In [5]:
df.groupby('product_name')

In [6]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [7]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [8]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [11]:
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
df_ords_prods_merged.head(35)

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Average orders,10
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Average orders,10
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Most orders,10
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Average orders,10
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Most orders,10
5,5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Average orders,10
6,6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Average orders,10
7,7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Most orders,10
8,8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Average orders,10
9,9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Average orders,10
10,144,2968173,15,15,1,9,7.0,196,2,0,195,Soda,77,7,9,both,Mid-range product,Busiest days,Average orders,22
11,146,1870022,15,17,2,16,8.0,196,6,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Average orders,22
12,147,1911383,15,18,2,11,7.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,22
13,150,2715276,15,21,1,9,7.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Average orders,22
14,151,487368,15,22,1,10,14.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Most orders,22
15,209,2293453,19,2,5,14,6.0,196,3,0,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,9
16,212,1973799,19,5,6,12,8.0,196,15,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,9
17,214,532817,19,7,4,17,6.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Average orders,9
18,232,1573906,21,10,3,10,6.0,196,2,0,195,Soda,77,7,9,both,Mid-range product,Least busy days,Most orders,33
19,458,1593000,31,10,3,8,7.0,196,17,0,195,Soda,77,7,9,both,Mid-range product,Least busy days,Average orders,20
20,465,2231262,31,17,3,11,8.0,196,14,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Most orders,20
21,617,2580647,43,6,4,16,4.0,196,9,0,195,Soda,77,7,9,both,Mid-range product,Least busy days,Average orders,11
22,620,2187180,43,9,4,12,3.0,196,1,1,195,Soda,77,7,9,both,Mid-range product,Least busy days,Most orders,11
23,751,2497897,52,1,1,9,NaN,196,4,0,195,Soda,77,7,9,both,Mid-range product,Busiest days,Average orders,27
24,752,1318871,52,2,1,10,7.0,196,5,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Most orders,27
25,753,1261384,52,3,1,10,7.0,196,3,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Most orders,27
26,755,580568,52,5,2,10,8.0,196,6,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,27
27,757,2428073,52,7,2,7,8.0,196,5,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Average orders,27
28,759,342306,52,9,1,11,7.0,196,5,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Most orders,27
29,760,1520353,52,10,2,10,8.0,196,4,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,27
30,761,2542086,52,11,2,9,7.0,196,3,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Average orders,27
31,762,944694,52,12,1,16,6.0,196,7,1,195,Soda,77,7,9,both,Mid-range product,Busiest days,Average orders,27
32,765,1268191,52,15,2,11,8.0,196,3,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,27
33,767,1122089,52,17,2,10,6.0,196,4,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,27
34,768,1498922,52,18,2,10,14.0,196,6,1,195,Soda,77,7,9,both,Mid-range product,Regularly busy,Most orders,27

In [16]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [20]:
df_ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3